<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django server</title>
    <style>
      table,th,td{
        border: 1px,solid black
      }
    </style>
  </head>
  <body>
    <h1>I am Django server.</h1>
    <!-- <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, ex.</h2>
    <p>
      I am Django server.I am Django server.I am Django server.I am Django
      server.I am Django server.I am Django server.I am Django server.I am
      Django server.I am Django server.I am Django server.I am Django server.I
      am Django server.I am Django server.I am Django server.I am Django
      server.I am Django server.I am Django server.I am Django server.I am
      Django server.I am Django server.I am Django server.I am Django server.I
      am Django server.I am Django server.I am Django server.I am Django
      server.I am Django server.I am Django server.I am Django server.I am
      Django server.I am Django server.I am Django server.I am Django server.I
      am Django server.I am Django server.I am Django server.I am Django
      server.I am Django server.I am Django server.I am Django server.I am
      Django server.I am Django server.I am Django server.I am Django server.I
      am Django server.I am Django server.I am Django server.I am Django
      server.I am Django server.I am Django server.I am Django server.
    </p> -->

    <!-- {{peoples}} -->
    <table class="container">
  <tr>
    <th>S.No</th>
    <th>Name</th>
    <th>Age</th>
      <th>Vote</th>
  </tr>
  {% for people in peoples%}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{people.name}}</td>
    <td>{{people.age}}</td>
     <td    {%if people.age <= 18%} style="background-color: red;"   {%endif%}>
      {%if people.age >= 18%}
      👍
      {%else%}
      👎
      {%endif%}
     </td>
  </tr>
  {% endfor%}
 
</table>
<p>{{text| truncatechars:80}}</p>

<p></p>

  </body>
  <script>
    console.log("Django")
  </script>
</html>
