<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django server</title>
  </head>
  <body>
    <h1>I am Django server.</h1>
    <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, ex.</h2>
    <p>
      I am Django server.I am Django server.I am Django server.I am Django
      server.I am Django server.I am Django server.I am Django server.I am
      Django server.I am Django server.I am Django server.I am Django server.I
      am Django server.I am Django server.I am Django server.I am Django
      server.I am Django server.I am Django server.I am Django server.I am
      Django server.I am Django server.I am Django server.I am Django server.I
      am Django server.I am Django server.I am Django server.I am Django
      server.I am Django server.I am Django server.I am Django server.I am
      Django server.I am Django server.I am Django server.I am Django server.I
      am Django server.I am Django server.I am Django server.I am Django
      server.I am Django server.I am Django server.I am Django server.I am
      Django server.I am Django server.I am Django server.I am Django server.I
      am Django server.I am Django server.I am Django server.I am Django
      server.I am Django server.I am Django server.I am Django server.
    </p>
  </body>
  <script>
    console.log("Django")
  </script>
</html>
