{%extends "base.html"%}
{% block start%}
    <h1>I am Django server.</h1>
    <!-- <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, ex.</h2>
    <p>
      I am Django server.I am Django server.I am Django server.I am Django
      server.I am Django server.I am Django server.I am Django server.I am
      Django server.I am Django server.I am Django server.I am Django server.I
      am Django server.I am Django server.I am Django server.I am Django
      server.I am Django server.I am Django server.I am Django server.I am
      Django server.I am Django server.I am Django server.I am Django server.I
      am Django server.I am Django server.I am Django server.I am Django
      server.I am Django server.I am Django server.I am Django server.I am
      Django server.I am Django server.I am Django server.I am Django server.I
      am Django server.I am Django server.I am Django server.I am Django
      server.I am Django server.I am Django server.I am Django server.I am
      Django server.I am Django server.I am Django server.I am Django server.I
      am Django server.I am Django server.I am Django server.I am Django
      server.I am Django server.I am Django server.I am Django server.
    </p> -->

    <!-- {{peoples}} -->
     <a href="/contact/">
contact
     </a>
     |
      <a href="/about/">
about
     </a>
    <table class="container">
  <tr>
    <th>S.No</th>
    <th>Name</th>
    <th>Age</th>
      <th>Vote</th>
  </tr>
  {% for people in peoples%}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{people.name}}</td>
    <td>{{people.age}}</td>
     <td    {%if people.age <= 18%} style="background-color: red;"   {%endif%}>
      {%if people.age >= 18%}
      👍
      {%else%}
      👎
      {%endif%}
     </td>
  </tr>
  {% endfor%}
 
</table>
<p>{{text| truncatechars:80}}</p>

<p>
  {%if "cucumber" in vegetables%}
  Yes available
  {%elif "apple" in vegetables%}
  Yes available

  {%else%}
  not available
  {%endif%}
</p>
{% endblock %}

